// $c-primary: #F2DCE0
// $c-secondary: #D1B1B4
// $c-bg: #fff
$c-primary: #FEF6F1
$c-secondary: #FEF6F1
$c-bg: #fff

#app
    background-color: $c-bg
.router-link-active
    background-color: $c-primary
    color: #FFF

#menuWrapper
    padding-bottom: 5px
    background-color: $c-primary
#menuBar
    display: flex
    flex-wrap: nowrap
    justify-content: flex-end
    padding: 10px
    padding-top: 10px

@media all and (min-width: 1024px)
    .menuItem
        margin-top: 10px
        margin-right: 5px
        display: block
    .menuIconContainer
        display: none
    .drawerItem
        display: none

@media all and (max-width: 1024px)
    .menuItem
        display: none
    .menuIconContainer
        display: block
    .drawerItem
        display: block

#Lego
    background-size: contain
    height: 50px
    width: 50px
    position: absolute
    left: 20px
    border-radius: 10px

.menuIconBar1, .menuIconBar2, .menuIconBar3
    width: 35px
    height: 3px
    background-color: #777
    transition: 0.3s
    margin: 8px
    margin-right: 10px
    position: relative
    border-radius: 25px
.change .menuIconBar1
    opacity: 0
    
.change .menuIconBar2 
    -webkit-transform: rotate(-405deg) translate(-9px, 6px)
    transform: rotate(-405deg)

.change .menuIconBar3 
    -webkit-transform: rotate(225deg) 
    transform: rotate(225deg) translate(8px, 8px)
    transition-delay: 0.2s


.menuIconContainer
    cursor: pointer

@keyframes drawerOpen
    from
        height: 0
    
    to
        height: 450px
    
#drawer
    animation-name: drawerOpen
    animation-duration: 2s
    height: 0
    
.drawerItem
    padding: 10px
    cursor: pointer


#underline
    width: 100%
    height: 2.5px
    margin-top: 15px
    align-self: flex-end
    left: -100%
    background: $c-secondary
    position: absolute
    transition: all .3s ease-Out
    bottom: 0
.drawerItem:hover #underline
    left: 0



#menuItemLink
    padding: 5px
    color: #28292D
    text-decoration: none 
    font-weight: bold


.footerContainer
    width: 100%
    background-color: $c-secondary
    
#footer
    bottom: 0
    // width: 60%
    color: #333
    text-align: left
    padding: 20px
    display: flex
    flex-wrap: wrap
    // justify-content: center
    margin: auto

@media all and (min-width: 640px)
    .footContainer
        width: 45%
        margin-left: 20px
        border-left: 1px #777 solid
    .footLinkContainer
        border-left: 1px #777 solid
        border-bottom: 0

@media all and (max-width: 640px)
    .footContainer
        width: 100%
    .footLinkContainer
        width: 100%
    .footLinkContainer
        display: none
    
.footContainer
    display: flex
    flex-wrap: wrap
    justify-content: center
    
.footLinkContainer
    text-align: center
    margin-bottom: 30px
    padding: 10px
    
.footLink.footerItems
    margin: 10px
    




.markBlockContainer
    display: inline-flex
    margin: 10px
.markBlock
    margin: 10px
    padding: 5px
    border-radius: 5px
    border: 1px $c-primary solid
    background-color: $c-bg
.markBlock:hover
    // border-radius: 30px
    background-color: $c-primary


#listPageTitle
    text-align: left
    // margin-left :40px
    margin-top: 20px
    margin-bottom: 50px
    font-size: 30px
    font-weight: normal
.listPageContent
    max-width: 1280px
    margin: auto
    padding: 50px
.searchBar-list
    margin: 0px

.List
    text-align: left

.ListContainer
    border: 1px $c-primary solid
    margin-bottom: 20px
    border-radius: 3px
    display: flex
    flex-wrap: wrap
    width: 90%
    
.Listhead
    // border: 1px #000 solid
    background-color: $c-primary
    width: 230px
.ListImage
    width: 210px
    height: 140px
    margin-top: 30px
    margin: 10px
    background-size: cover
    border-radius: 5px

.ListTextBlock
    width: 70%
    cursor: pointer

.listTypeContainer
    display: flex
    flex-wrap: wrap
    justify-content: center
.ListTypeBlock
    margin: 5px
    padding: 2px
    font-size: 0.6em
    border: 1px $c-bg solid
    border-radius: 5px
    text-align: center
.ListTypeBlock:hover
    background-color: $c-bg
    
.ListTitle
    font-size: 1.5em
    line-height: 1.6em
    margin: 10px
.ListContent
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    font-size: 1.2em
    margin: 20px
    margin-top: 30px
#pageSel
    text-align: center
    width: 50px

.pageBtn
    background-color: $c-primary
    margin: 10px
    padding: 3px
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.3)
    box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.3)

// search-input
.search
    background-opacity: 0
    border-radius: 3px
    padding: 10px
.searchButton
    width: 35px
    background-color: $c-primary 
    height: 40px

.input-group
    border: 1px $c-primary solid
    border-radius: 5px
    width: 215px
    margin: auto
.search-previewBlock
    position: absolute
.search-preview
    position: relative