$c-primary: #F2DCE0
$c-secondary: #D1B1B4
$c-bg: #FFF

.router-link-active
    background-color: $c-primary
    
    
.markBlockContainer
    display: inline-flex
    margin: 10px
.markBlock
    margin: 10px
    padding: 5px
    border-radius: 5px
    border: 1px $c-primary solid
    background-color: $c-bg
.markBlock:hover
    // border-radius: 30px
    background-color: $c-primary


#listPageTitle
    text-align: left
    // margin-left :40px
    margin-top: 20px
    margin-bottom: 50px
    font-size: 30px
    font-weight: normal
.listPageContent
    max-width: 1280px
    margin: auto
    padding: 50px
.searchBar-list
    margin: 0px

.List
    text-align: left
    cursor: pointer

.ListContainer
    border: 1px $c-primary solid
    margin-bottom: 20px
    border-radius: 3px
    display: flex
    flex-wrap: wrap
    width: 90%
    
.Listhead
    // border: 1px #000 solid
    background-color: $c-primary
    width: 230px
.ListImage
    width: 210px
    height: 140px
    margin-top: 30px
    margin: 10px
    background-size: cover
    border-radius: 5px

.ListTextBlock
    width: 70%

.listTypeContainer
    display: flex
    flex-wrap: wrap
    justify-content: center
.ListTypeBlock
    margin: 5px
    padding: 2px
    font-size: 0.6em
    border: 1px $c-bg solid
    border-radius: 5px
    text-align: center
.ListTypeBlock:hover
    background-color: $c-bg
    
.ListTitle
    font-size: 1.5em
    line-height: 1.6em
    margin: 10px
.ListContent
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    font-size: 1.2em
    margin: 20px
    margin-top: 30px
#pageSel
    text-align: center
    width: 50px

.search
    background-opacity: 0
    border-radius: 3px
    padding: 10px

.searchButton
    width: 35px
    background-color: $c-primary 
    height: 40px

.input-group
    border: 1px $c-primary solid
    border-radius: 5px
    width: 215px
    margin: auto
.search-previewBlock
    position: absolute
.search-preview
    position: relative